body, html {
    height: 100%;
    margin: 5px;
}

.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button_ok {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

.button_ok:hover {
  background-color: black;
}

.error {
  color: red;
}

.ok {
  color: green;
}

a {
  text-decoration: none;
}

/* Adjusted for smartphone displays */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  body, html {
    font-size: 175%;
  }

  .button {
    font-size: 100%;
    padding: 30px 60px;
  }

  .button_ok {
    font-size: 100%;
    padding: 30px 400px;
  }

  a {
    font-size: 100%;
  }

  input {
    font-size: 100%;
  }
}
